.section3 .categeries{border: 1px solid #ececec;border-radius: 5px;padding: 22px;}
.navbar-expand-lg .navbar-nav .nav-link{padding: .5rem 1rem !important;}
.btn-viewall-middle .btn-viewall {background-color: #2359aa;border-radius: 10px;color: #fff;padding: 6px 40px;font-weight: 400;transition: none;}
.btn-viewall-middle .btn-viewall:hover{background-color:  #fff;border-radius: 10px;color: #007db3;border-color: #007db3;}
.section4 .updated-rep-box{border-radius: 10px;background-color: #337ab7;border: 1px solid #b7b7b7;display: flex;padding: 38px 32px;}
.section4 .updated-rep-box .icon-box span{background-image: url(../image/home/cat-sprite.png);height: 65px;width: 65px;display: inline-block;background-color: #ffffff;border-radius: 10px;vertical-align: middle;}
.section4 .updated-rep-box .icon-box .cust-goods{background-position: 5px -524px;height: 65px;width: 65px;display: inline-block;background-color: #ffffff;border-radius: 10px;vertical-align: middle;}
.section4 .updated-rep-box .icon-box .auto-icon{background-position: 2px 4px;height: 65px;width: 65px;display: inline-block;background-color: #ffffff;border-radius: 10px;vertical-align: middle;}
.section4 .updated-rep-box .icon-box .cat-icon-24{background-position: 2px 4px;}
.section4 .updated-rep-box .icon-box .cat-icon-29{background-position: 1px -411px;}
.section4 .updated-rep-box .icon-box .cat-icon-22{background-position: 7px -52px;}
.section4 .updated-rep-box .icon-box .cat-icon-23{background-position: 3px -119px;}
.section4 .updated-rep-box .icon-box .cat-icon-39{background-position: 2px -352px;}
.section4 .updated-rep-box .icon-box .cat-icon-38{background-position: 1px -179px;}
.section4 .updated-rep-box .icon-box .cat-icon-31{background-position: 1px -294px;}
.section4 .updated-rep-box .icon-box .cat-icon-33{background-position: 1px -238px;}
.section4 .updated-rep-box .icon-box .semicond{background-position: 1px -294px;height: 65px;width: 65px;display: inline-block;background-color: #ffffff;border-radius: 10px;vertical-align: middle;}
.secHeading{font-weight: 400;max-width: 622px;margin: 0 auto 20px;line-height: 30px;}
.section5 ul li {width: 20%;vertical-align: middle;min-height: 114px;}
.section5 ul li:first-child .headIcon {background-position: -105px -238px;}
.section5 ul li:nth-child(2) .headIcon {background-position: -101px -5px;}
.section5 ul li:nth-child(3) .headIcon {background-position: -102px -165px;}
.section5 ul li:nth-child(4) .headIcon {background-position: -107px -312px;}
.section5 ul li .headIcon {height: 58px;width: 75px;}
.headIcon {background-image: url(../image/home/home-sprite1.png);height: 70px;width: 70px;display: block;margin: 4px auto;}
#reactagele{width: 200px;height: 100px;border:1px solid red}
.rect-box{background-image: url(../image/home/rect-box.png);background-repeat: no-repeat;background-size: 90%;background-position: 47% 55%;}
.trustSecRow .trustBox {vertical-align: top;margin: 18px;width: calc(47% - 14px);display: inline-block;min-height: 181px;}
.trustBox {border: 1px solid #b1b1b1;margin: 20px 10px;position: relative;}
.trustBox .numb {background-color: #007aa8;padding: 0px 10px;border-radius: 100%;color: #fff;position: absolute;width: 28px;height: 28px;top: -15px;left: -15px;font-size: 16px;}
.trustBox .compName span:before {content: "";background-color: #00aae0;width: 40px;height: 2px;display: inline-block;vertical-align: middle;margin-right: 10px;}
.about-us-sec .right-side-sec{background-color: #007db3;background-image: url(../image/home/about-us-bg.jpg);background-position: right;background-size: cover;background-repeat: no-repeat;padding: 50px 30px;background-attachment: fixed;}
.about-us-sec .right-side-sec img{position: relative;left: -199px;top: 6px;}
.about-us-sec .right-side-sec .about-us-text{position: absolute;bottom: 32px;left: 230px;}
.about-us-sec .right-side-sec .about-us-text .btn-aboutPMR{border-radius: 23px;background-color: #ffffff;padding: 6px 40px;color: black;transition: none;}
.about-us-sec .right-side-sec .about-us-text .btn-aboutPMR:hover{color: #007db3;background-color: #007db3;color: #fff;border: 1px solid #fff;}
#scrollToTop.show {opacity: 1;visibility: visible;}
/*#scrollToTop {display: inline-block;background-color: #aeb3be;width: 43px;height: 43px;padding: 9px;text-align: center;border-radius: 4px;position: fixed;bottom: 30px;right: 30px;transition: background-color .3s, opacity .5s, visibility .5s;opacity: 0;visibility: hidden;z-index: 1000;vertical-align: middle;}*/
#scrollToTop {display: inline-block;background-color: #aeb3be;width: 43px;height: 43px;padding: 9px;text-align: center;border-radius: 4px;position: fixed;bottom: 30px;right: 30px;transition: none;opacity: 0;visibility: hidden;z-index: 1000;vertical-align: middle;}
#scrollToTop:hover{background-color: #337ab7;}