.w100{width: 100%;}
.font10{font-size: 10px!important;}
.font11{font-size: 11px!important;}
.font12{font-size: 12px!important;}
.font12{font-size: 12px!important;}
.font14{font-size: 14px!important;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font18{font-size: 18px!important;}
.font23{font-size: 23px!important;}
.font24{font-size: 24px!important;}
.font27{font-size: 27px;}
.font28{font-size: 28px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.bold200{font-weight: 200;}
.bold300{font-weight: 300;}
.bold400{font-weight: 400;}
.bold500{font-weight: 500;}
.bold700{font-weight: 700!important;}
.lineheight20{line-height: 20px!important;}
.lineheight24{line-height: 24px!important;}
.lineHeight32{line-height: 32px;}
.lineheight118{line-height: 118px;}
.lineheight110{line-height: 110px;}
.radius10{border-radius: 10px;}
.radius15{border-radius: 15px;}
.radius100{border-radius: 100px;}
.text-white{color: #ffff;}
.text-black{color: #212121;}
.text-black2{color: #171717;}
.text-black3{color:#3b3b3b;}
.text-black4{color:#313131;}
.text-black5{color:#030303;}
.text-blue{color: #005da5;}
.text-blue2{color:#0e3ca9!important;}
.text-blue3{color:#0077b7!important;}
.text-grey{color:#888}
.text-grey1{color:#2f2f2f}
.text-red1{color: #d50000;}
.bg-grey1{background-color: #f3f3f3;}
.border-red{border-color:#f53131!important}
.border-green{border-color:#5dbb2d!important}

/*Top Agree Css*/
.cookiesHeader{background-color:#f6f6ff;padding: 0 8px 5px;position: relative;z-index: 9;}
.cookiesHeader a{color:#007bff;font-size:11px}
.cookiesHeader .btnPrimary{padding: 2px 16px;border-radius: 4px;color: #00aae0;background: #fff;border: 1px solid #00aae0;    font-size: 12px;font-weight: 500;box-shadow: unset;vertical-align: inherit;}
.cookiesHeader .cookiesInfo span,.cookiesHeader .cookiesInfo small{font-size: 11px!important}
.cookiesHeader .close:focus, .close:hover{outline:none;}
.cookiesInfo{text-align:center}
.cookiesHeader .close{border: 2px solid #ce4747;padding: 0px 5px;color:red;opacity: 0.7;margin-top: 3px;font-size: 26px;position: absolute;top: 0;right: 3px;}
.cookiesHeader .close span{position:relative;top:-3px}

header{position: relative;}
header .navbar button.navbar-toggler {background: #e9e9e9; padding: 0px; width: 40px; height: 40px; position: relative; top: -4px; }
header .navbar button.navbar-toggler:focus {outline: 0!important; }
header .navbar button.navbar-toggler:active{background: #e9e9e9; }
#navbarToggleExternalContent{width: 304px; position: absolute; right: 14px; }
header .collapse{display: none; }
header .collapse:not(.show) {display: none; }
header .collapse > div {top: 0; border-bottom: 3px solid #007db3; border-bottom-left-radius: 5px!important; border-bottom-right-radius: 5px!important; }
 header .collapse > div p a:hover{color:#212121}
.menulines {position: absolute; top: 0px; width: 100%; height: 100%; }
header .menu .menu-line {background: #fff; border: none; height: 3px; width: 28px; position: absolute; top: 25px; right: 25px; -webkit-transition: all .35s ease; transition: all .35s ease; }
.menu span:nth-of-type(2) {top: 33px; }
.menu span:nth-of-type(3) {top: 41px; }
.rotateMenuLines .top-line {-webkit-transform: translateY(6px) translateX(0) rotate(45deg); transform: translateY(10px) translateX(0) rotate(50deg); background: #fff; }
.rotateMenuLines .middle-line {opacity: 0; background: #ff0; }
.rotateMenuLines .bottom-line {-webkit-transform: translateY(-12px) translateX(0) rotate(-45deg); transform: translateY(-8px) translateX(0) rotate(-48deg); background: #fff; }

.tooltip-inner {background-color: #e9e9e9!important; color: #000; }
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {margin-left: -3px; content: ""; border-width: 0 5px 5px; border-bottom-color: #e9e9e9; }
header .btn-scheduleCall{border-radius: 24px; background-color: #ffffff; border: 1px solid #ee5022; color: #ee5022!important; padding: 9px 25px; margin: 0px 30px; position: relative; top: 1px; }
header .btn-scheduleCall:hover{background-color: #ee5022; color: #171717!important;}
.navbar-toggler .menu-line {background: #747474; border: none; height: 2px; width: 24px; position: absolute; top: 11px; right: 8px; -webkit-transition: all .35s ease; transition: all .35s ease; }
.navbar-toggler span:nth-of-type(2) {top: 20px; }
.navbar-toggler span:nth-of-type(3) {top: 29px; }

/*Sample First Section*/
.sampleFirst-section{/*background: url(image/report-details-topBG1.png);*/background-color: #f7f7ff; font-size: 12px; line-height: 32px; background-repeat: no-repeat; background-size: cover; background-position: bottom; color: #212121; }
.breadcrumb-item+.breadcrumb-item::before {display: inline-block; padding-right: 0.1rem; padding-left: 0.1rem; color: #6c757d; content: "/";line-height: 15px; }
/*First Section CSS Ends Here*/


/*Form CSS*/
/*.sampleform-section .form-section form{width: 470px; margin: 0 auto;}*/
.sampleform-section .form-section form input,.sampleform-section .form-section form textarea{padding: 9px 40px 9px 15px;height: unset;font-size: 16px;border: 1px solid #707070;}
.sampleform-section .form-section form input:focus,.sampleform-section .form-section form textarea:focus{box-shadow: none;}
.sampleform-section .form-section form svg{position:absolute;top:13px;right:20px}
.sampleform-section .form-section form input::placeholder{color:#888888}
.sampleform-section .form-section form textarea::placeholder{color: #111}
.sampleform-section .form-section form button.sampleFormSubmitBtn{background:#ffa41c!important;border:1px solid #ffa41c;padding:7px 42px;margin:4px 0 10px;box-shadow: none;}
.sampleform-section .form-section form button.sampleFormSubmitBtn:hover{background:#ffa41c!important;border:1px solid #ffa41c;padding:7px 42px;margin:4px 0 10px;box-shadow: none}
.sampleform-section .form-section form button.sampleFormSubmitBtn svg{position: relative;top: 0;right: 0;}
.sampleform-section .form-section form .sampleFormBtn{background: #fff; padding: 15px 0px 15px; position: fixed; bottom: 0px; left: 0px; display: block; width: 100%; z-index: 1; }


footer a:hover, footer a:focus{color:#fff; text-decoration: none;}

/* Search Form CSS */
.nav-container {
    z-index: 5;
    position: relative;
    background: #fff;
}
header .search-btn:hover{
 text-decoration: none;
}
.overlayTwo.open.top100 {
    top: 57px;
}
.overlayTwo {
    position: absolute;
    transition: all 0.3s linear;
    width: 100%;
    margin: 0 auto;
    /* left: -4px; */
    right: 0;
    z-index: 2;
    transition: all 0.3s ease;
    top: -550px;
}
.overlayTwo .TopSearch {
    width: 100%;
    padding: 20px 0 20px 0;
     border: 3px solid #e0e0e0; 
    border-top: 0 none;
    background: #f6f6ff;
}
.overlayTwo form button {
    padding: 0.375rem 0.75rem;
    box-shadow: unset;
}
#topSearchMenu .SearchInput {
    border: none;
    padding: 15px 60px 15px 15px;
    width: 100%;
    float: left;
    height: 58px;
    color: #1c1c1c;
    outline: 0;
    background: none;
    font-size: 17px;
    background: #ffff;
}
#topSearchMenu .SearchInput:focus{
    outline: 0;
    box-shadow: none;
}
#topSearchMenu .btnSearch {
    top: 9px;
    right: 8px;
    background: none;

}
#topSearchMenu .btnSearch:focus{
    outline: none;
}
.suggested-searches-ul li {
    padding: 10px;
    border-bottom: 1px dotted #ddd;
}
.suggested-searches-ul li a{
    color: #3b3b3b;
	line-height: 24px;
    display: inline-block;
}
.suggested-searches-ul li a:hover{
    color: #005da5;
}
.TopSearch .btn-close-search{
    position: absolute;
    right: 52px;
    top: 15px;
}
/* End Search Form CSS */

/*breadcrumb*/
.sampleFirst-section nav{ padding: 5px 0; line-height:20px;}
.sampleFirst-section nav ol{display:inline;}
.sampleFirst-section nav ol li{display:inline;}


    /*Exit Pop-up Modal CSS*/
.pmr-exit-Modal .modal-dialog{width: 590px; max-width: 590px; margin-top: 95px; }
.pmr-exit-Modal .modal-content{background-image: url(../images/popupBg.png); background-repeat: no-repeat; background-position: 0px 0px; background-size: cover; }
.pmr-exit-Modal .popupTitle{font-size: 32px; color: #007db3; text-transform: uppercase;font-weight: 700; /*font-family: 'Segoe UI', Tahoma, sans-serif;*/ }
.pmr-exit-Modal .popupSubTitle, .pmr-exit-Modal .popupSubTitle span{color: #4e4e4e; font-size: 23px; font-weight: 400; /*font-family: 'Segoe UI', Tahoma, sans-serif;*/ padding-top: 10px; }
.pmr-exit-Modal .popupSubTitle span{font-weight: 500; color: #d41414; }
.pmr-exit-Modal .modal_Footer{background-color: #efefef; position: relative; }
.pmr-exit-Modal .modal_Footer .noBtnDiv{padding: 0px 0px 0px 46px; }
.pmr-exit-Modal .modal_Footer .yesBtnDiv{padding: 0px 41px 0px 0px; }
.pmr-exit-Modal .modal_Footer .noBtnDiv .btn{border: 1.5px solid #d5d5d5; border-radius: 0px; padding: 8px 20px !important; color: #5e5d5d; text-shadow: none !important; opacity: 1 !important; }
.pmr-exit-Modal .modal_Footer .noBtnDiv .btn p{font-size: 12px !important; line-height: 15px; color: #5e5d5d; }
.pmr-exit-Modal .modal_Footer .noBtnDiv .btn span{color: #5e5d5d; font-size: 24px; }
.pmr-exit-Modal .modal_Footer .noBtnDiv .btn:focus,.pmr-exit-Modal .modal_Footer .yesBtnDiv .btn:focus{outline: none;box-shadow: none;}
.pmr-exit-Modal .modal_Footer .yesBtnDiv .btn{background-color: #ffd713; color: #101010; border-radius: 0px; padding: 2px 8px !important; }
.pmr-exit-Modal .modal_Footer .yesBtnDiv a{color: #fff; display: inline-block; }
.pmr-exit-Modal .modal_Footer .yesBtnDiv .btn p{font-size: 12px !important; }
.pmr-exit-Modal .modal_Footer .yesBtnDiv .btn span{color: #101010; font-size: 32px; }
.txt-christmas-red {color: #d6011b; }

/*CheckOut Mobile Exit PopUp*/
.pmr-exit-Modal .noBtnDivMob{padding: 0px 0px 0px 0px; }
.pmr-exit-Modal .yesBtnDivMob{padding: 0px 0px 0px 0px; }
.pmr-exit-Modal .noBtnDivMob a{font-size: 12px !important; line-height: 15px; color: #5e5d5d;text-decoration: underline; }
.pmr-exit-Modal .yesBtnDivMob .btn{background-color: #ffd713; color: #101010; border-radius: 0px; padding: 2px 27px !important; }
.pmr-exit-Modal .yesBtnDivMob a{color: #fff; display: inline-block; }
.pmr-exit-Modal .yesBtnDivMob .btn p{font-size: 12px !important; }
.pmr-exit-Modal .yesBtnDivMob .btn span{color: #101010; font-size: 32px; }


/*Media Query*/
@media screen and (max-width: 425px) {
  .pmr-exit-Modal .modal-dialog {width: 90%; margin: 95px auto; }
    .pmr-exit-Modal .modal-dialog .modal_Header{padding: 0px 15px 30px !important; }
    .pmr-exit-Modal .popupTitle {font-size: 20px; }
    .pmr-exit-Modal .popupSubTitle{font-size: 14px; }
    .pmr-exit-Modal .popupSubTitle span{font-size: 14px;}
} 