a:focus, a:hover,.btn:focus,.btn:hover{text-decoration: none;box-shadow:none}
.w100{width: 100%;}
.font12{font-size: 12px!important;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font18{font-size: 18px!important;}
.font20{font-size: 20px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font30{font-size: 30px;}
.bold300{font-weight: 300!important;}
.bold400{font-weight: 400;}
.bold500{font-weight: 500;}
.lineheight20{line-height: 20px!important;}
.lineheight23{line-height: 23px!important;}
.lineheight24{line-height: 24px!important;}
.lineHeight32{line-height: 32px;}
.lineheight118{line-height: 118px;}
.lineheight110{line-height: 110px;}
.text-white{color: #ffff;}
.text-black{color: #212121;}
.text-black2{color: #171717;}
.text-black3{color:#3b3b3b;}
.text-blue{color: #005da5;}
.text-blue2{color:  #0e3ca9!important;}

body{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/*Top Agree Css*/
.cookiesHeader{background-color:#f6f6ff;padding: 0 8px 5px;position: relative;z-index: 9;}
.cookiesHeader a{color:#013b54;font-size:11px}
.cookiesHeader .btnPrimary{padding: 2px 16px;border-radius: 4px;color: #007db3;background: #fff;border: 1px solid #007db3;font-size: 12px;font-weight: 500;box-shadow: unset;vertical-align: inherit;}
.cookiesHeader .cookiesInfo span,.cookiesHeader .cookiesInfo small{font-size: 11px!important}
.cookiesHeader .close:focus, .close:hover{outline:none;}
.cookiesInfo{text-align:center}
.cookiesHeader .close{border: 2px solid #ce4747;padding: 0px 5px;color:red;opacity: 0.7;margin-top: 2px;font-size: 23px;position: absolute;top: 0;right: 3px;}
.cookiesHeader .close span{position:relative;top:-3px}
/*header*/
header {position: sticky; top: 0px; background-color: #fff; width: 100%; z-index: 3; box-shadow: 0px 0px 2px 0px #5a5a5a; }
header .navbar button.navbar-toggler {background: #e9e9e9; padding: 0px; width: 40px; height: 40px; position: relative; top:0px; }
header .navbar button.navbar-toggler:focus{outline: none!important; }
 /* #navbarToggleExternalContent{width: 395px; } */ 
header .collapse{display: none; }
header .collapse:not(.show) {display: none; }
header .collapse > div {top: 0; border-bottom: 3px solid #007db3; border-bottom-left-radius: 5px!important; border-bottom-right-radius: 5px!important; }
header .collapse > div p a:hover{color:#212121}
.menulines {position: absolute; top: 0px; width: 100%; height: 100%; }
header .menu .menu-line {background: #fff; border: none; height: 3px; width: 28px; position: absolute; top: 25px; right: 25px; -webkit-transition: all .35s ease; transition: all .35s ease; }
.menu span:nth-of-type(2) {top: 33px; }
.menu span:nth-of-type(3) {top: 41px; }
.rotateMenuLines .top-line {-webkit-transform: translateY(6px) translateX(0) rotate(45deg); transform: translateY(10px) translateX(0) rotate(50deg); background: #fff; }
.rotateMenuLines .middle-line {opacity: 0; background: #ff0; }
.rotateMenuLines .bottom-line {-webkit-transform: translateY(-12px) translateX(0) rotate(-45deg); transform: translateY(-8px) translateX(0) rotate(-48deg); background: #fff; }
.tooltip-inner {background-color: #e9e9e9!important; color: #000; }
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {margin-left: -3px; content: ""; border-width: 0 5px 5px; border-bottom-color: #e9e9e9; }
header .btn-scheduleCall{border-radius: 24px; background-color: #ffffff; border: 1px solid #ee5022; color: #ee5022!important; padding: 9px 25px; margin: 0px 30px; position: relative; top: 1px; }
header .btn-scheduleCall:hover{background-color: #ee5022; color: #171717!important;}
.navbar-toggler .menu-line {background: #747474; border: none; height: 2px; width: 24px; position: absolute; top: 11px; right: 8px; -webkit-transition: all .35s ease; transition: all .35s ease; }
.navbar-toggler span:nth-of-type(2) {top: 20px; }
.navbar-toggler span:nth-of-type(3) {top: 29px; }

.first-section{background-color: #2255a7; padding: 30px 0 30px 0; /* background-image: url(../image/home/top-bg.png); background-position: right; background-size: cover; background-repeat: no-repeat; */ }
.left-next{top: 18px; left: 14px; }
.right-pre{top: -25px; } 
#carouselExampleIndicators .trustbyslider{background: #f8f8f8;display: inline;padding: 15px 127px;border-top: 9px solid #0d2c51; } 
.carosel-box{background-color: #f8f8f8; width: 390px; height: 195px;margin: 0 auto;} 
.carosel-box .bbc-icon{background-image: url(../image/home/trusted-sprite.png); width: 162px; height: 72px; z-index: 5; background-repeat: no-repeat; position: absolute; left: 95px; top: 42px; background-position: -45px -38px; }
.carosel-box .bloomberg-icon{background-image: url(../image/home/trusted-sprite.png); width: 201px; height: 42px; z-index: 5; background-repeat: no-repeat; position: absolute; left: 80px; top: 48px; background-position: -29px -115px; }
.carosel-box .forbes-icon{background-image: url(../image/home/trusted-sprite.png); width: 201px; height: 42px; z-index: 5; background-repeat: no-repeat; position: absolute; left: 68px; top: 43px; background-position: -29px -188px; }
.carosel-box .market-insider{background-image: url(../image/home/trusted-sprite.png); width: 201px; height: 64px; z-index: 5; background-repeat: no-repeat; position: absolute; left: 80px; top: 40px; background-position: -29px -261px; }
.slider-section .carosel-box .carousel-control-next,.slider-section .carosel-box .carousel-control-prev,
.carousel-control-next, .carousel-control-prev {position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: baseline; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 10%; height: 44PX; color: #fff; text-align: center; opacity: 1; /* top: -253px; */ bottom: 3px; background: #0d2c51; border: 0.5px solid #007db3; left: 42px;
}
.carousel-control-prev {left: 42px; }
.carousel-control-next {right: -15px; }
.carousel-control-next-icon, .carousel-control-prev-icon {margin: 11px 19px; }
.carousel-indicators .active {background-color: #007db3!important; }
.carousel-indicators {bottom: 38px!important; } 
.carousel-indicators li {position: relative; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; width: 65px!important; height: 5px!important; margin-right: 0px; margin-left: 0px; text-indent: -999px; background-color: #d0d5d7; } 
.carousel-item{width: 350px!important; margin-left: auto !important; margin-right: auto !important; }
#carouselExampleIndicators .indicators01{position: absolute; top: 155px; left: 117px; z-index: 1; } 
#carouselExampleIndicators .indicators02{position: absolute; top: 155px; z-index: 2; right: 114px; } 
.carousel-inner {position: relative; width: 100%; overflow: hidden; /* background: #f8f8f8; */ width: 350px; margin: 0 auto; width: 350px; height: 199px; } 
/* top section */
.form-inline .input-group{width: 100%; } 
.form-inline .input-group input{z-index: 0; border-top-right-radius: 5px!important; border-bottom-right-radius: 5px!important; } 
.form-inline .input-group .input-group-btn{position: absolute; right: 3px; top: 2.3px; z-index: 2; border-radius: 5px; background-color: #ededed; } 
.form-inline .input-group  .btnSearch{padding: 1px 7px; } 
.form-inline .input-group input:focus {z-index: 0; } 
.first-section .form-inline{position:relative}
.suggestionsBox{z-index: 1; background: #fff; box-shadow: 1px 1px 8px #b6b6b6; width: 100%; position: absolute; top: 39px; } 
.suggestionsBox ul{max-height: 250px; overflow-y: auto } 
.suggestionsBox ul li {border-bottom: 1px solid #dedede; } 
.suggestionsBox p {margin-bottom: 8px; } 
.suggestionsBox ul li a {font-size: 12px; color: #555; text-decoration: none; padding: 4px 0; display: inline-block; font-weight: normal; }
.second-section{padding: 30px 0 10px 0; } 
.back-outline-270d{position: absolute; transform: rotate(270deg); left: -133px; opacity: 0.5; } 
.back-outline-0d{position: absolute; /* transform: rotate(270deg); */ opacity: 0.2; top: 162rem; left: 43px; } 
.back-outline-360d{position: absolute; transform: rotate(270deg); opacity: 0.2; right: -132px; }
#scrollToTop.show {opacity: 1; visibility: visible; } 
#scrollToTop:active {background-color: #aeb3be; } 
#scrollToTop:hover {cursor: pointer; background-color: #aeb3be; } 
#scrollToTop {display: inline-block; background-color: #aeb3be; width: 43px; height: 43px; padding: 6px; text-align: center; border-radius: 4px; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000; vertical-align: middle; }
  /* -------------- Footer CSS -------------*/
footer{background-color:#2358a8;font-size:13px;}
footer .call-sec{border-right: 1px solid #39496b; } 
footer .phone-no ,footer .Mail-sec{border-bottom:  1px solid #39496b; } 
.copyrightSec {font-size: 12px; padding: 5px 0; } 
.socialLink .cusIcon {height: 30px; width: 30px; display: block; } 
.cusIcon {background-image: url(../image/social-footer-pmr.svg); background-repeat: no-repeat; display: block; background-size: 120px; } 
/*.twitter {background-position: 0 0; } */
.twitter {background: url(../image/twitter-x-1.svg);background-position: -10px -3px;background-repeat: no-repeat;background-size: 50px;}
.linkedin {background-position: -45px 0; } 
.feeds {background-position: -90px 0 } 
.list-inline>li {display: inline-block; padding-right: 5px; padding-left: 5px; } 
footer a {color: #fff; } 
footer a:hover, footer a:focus{color:#fff; text-decoration: none;}
.footer-bottom .footerLink li {display: inline-block; margin-right: -4px; line-height: 14px; border-left: 1px solid #acadaf; padding: 0 7px; } 
.footerLink li:first-child {border: 0; } 
.copyrightBottomSec {font-size: 12px; background-color: #1f325d; } 
@media (max-width: 320px){.report-details-tabs .nav-link{font-size: 13px!important; padding: 10px 15px!important; margin-left: -11px !important; } 
.report-details-tabs .tab-content .bottom-companies .outer-border .company-head{position: absolute; top: -16px; left: 98px!important; font-size: 14px; font-weight: 500; } }
@media (max-width: 375px){.report-details-tabs .nav-link{font-size: 15px; margin-left: -11px; } 
.report-details-tabs .tab-content .bottom-companies .outer-border .company-head{position: absolute; top: -16px; left: 112px; font-size: 14px; font-weight: 500; } }

#scrollToTop.show {opacity: 1; visibility: visible; } 
#scrollToTop {display: inline-block; background-color: #aeb3be; width: 43px; height: 43px; padding: 9px; text-align: center; border-radius: 4px; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000; vertical-align: middle; }
