/* open-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v43-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v43-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v43-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-800 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v43-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
body{
        font-family: "Open Sans", Arial, sans-serif;
}
header .navbar button.navbar-toggler {background: #e9e9e9; padding: 0px; width: 40px; height: 40px; position: relative; top: 0px; }
header .navbar button.navbar-toggler:focus{outline: none!important; } 
header .collapse{display: none; }
header .collapse:not(.show) {display: none; }
header .collapse > div {top: 0; border-bottom: 3px solid #007db3; border-bottom-left-radius: 5px!important; border-bottom-right-radius: 5px!important; }
header .collapse > div p a:hover{color:#212121}
.menulines {position: absolute; top: 0px; width: 100%; height: 100%; }
header .menu .menu-line {background: #fff; border: none; height: 3px; width: 28px; position: absolute; top: 25px; right: 25px; -webkit-transition: all .35s ease; transition: all .35s ease; }
header{position: relative;}
.text-blue-new{ color: #17426b; font-weight: 600;}
/*Top Agree Css*/
.cookiesHeader{background-color:#f6f6ff;padding: 5px 8px 5px;position: relative;z-index: 9;}
.cookiesHeader a{color:#013b54;font-size:11px}
.cookiesHeader .btnPrimary{padding: 2px 12px;border-radius: 4px;color: #007db3;background: #fff;border: 1px solid #007db3;font-size: 14px;font-weight: 500;box-shadow: unset;vertical-align: inherit;}
.cookiesHeader .cookiesInfo span,.cookiesHeader .cookiesInfo small{font-size: 16px!important}
.cookiesHeader .close:focus, .close:hover{outline:none;}
.cookiesInfo{text-align:center}
.cookiesHeader .close{border: 2px solid #ce4747;padding: 0px 5px;color:red;opacity: 0.7;margin-top: 0px;font-size: 26px;position: absolute;top: 0;right: 3px;}
.cookiesHeader .close span{position:relative;top:-3px}
.menu span:nth-of-type(2) {top: 33px; }
.menu span:nth-of-type(3) {top: 41px; }
.rotateMenuLines .top-line {-webkit-transform: translateY(6px) translateX(0) rotate(45deg); transform: translateY(10px) translateX(0) rotate(50deg); background: #fff; }
.rotateMenuLines .middle-line {opacity: 0; background: #ff0; } 
.rotateMenuLines .bottom-line {-webkit-transform: translateY(-12px) translateX(0) rotate(-45deg); transform: translateY(-8px) translateX(0) rotate(-48deg); background: #fff; }
.tooltip-inner {background-color: #e9e9e9!important; color: #000; }
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {margin-left: -3px; content: ""; border-width: 0 5px 5px; border-bottom-color: #e9e9e9; }
header .btn-scheduleCall{border-radius: 24px; background-color: #ffffff; border: 1px solid #17426b; color: #17426b!important; padding: 9px 25px; margin: 0px 30px; position: relative; top: 1px; }
header .btn-scheduleCall:hover{background-color: #17426b; color: #171717!important;}

/*breadcrumb*/
.report-details-topsec nav{ padding: 5px 0; line-height:20px;}
.report-details-topsec nav ol li{display:inline;}
.nav-container {z-index: 5; position: relative; background: #fff; }
.fixedBottomButton .btn-free-sample {border-radius: 0px; background-color: #17426b; padding: 10px 28px; border-color: #17426b; color: #fff;font-weight: 500; }
.navbar-toggler .menu-line {background: #747474; border: none; height: 2px; width: 24px; position: absolute; top: 11px; right: 8px; -webkit-transition: all .35s ease; transition: all .35s ease; }
.navbar-toggler span:nth-of-type(2) {top: 20px; }
.navbar-toggler span:nth-of-type(3) {top: 29px; }
#MarketBytes p a{color: #17426b; line-height: 24px;display: inline-block;}
.report-details-tabs .fixedMarketByteBar {position: fixed; top: 0; z-index: 9; width: 100%; }
.fixedBottomButton {display: none; }
.fixedBottomButton.active {position: sticky; bottom: 0; display: block; }
.fixed-bottom-btn .fixedMarketByteBar {position: fixed; top: 0; z-index: 9; width: 100%; }
.fixedBottomButton .btn-Email-send{background: #007db3; border-radius: 0px; }
.report-details .report-heading .btn-free-sample {border-radius: 10px; /*background-color:#ff6230;*/background-color: #17426b; padding: 14px 28px; border-color: #17426b; color: #fff;font-weight: 600;transition: none; width:100%;}
.report-details .report-heading .btn-connect-Auth{background-color: #fff; color: #17426b; border: 2px solid #17426b; padding: 14px 28px; border-radius: 50px; width: 268.55px;transition: none;}
.report-details-topsec{background:#fff; font-size: 10px; line-height: 22px; background-repeat: no-repeat; background-size: cover; background-position: bottom; color: #212121; }
.breadcrumb-item+.breadcrumb-item::before {display: inline-block; padding-right: 0.2rem; padding-left: 0.2rem; color: #6c757d; content: "/"; }
.right-side-section .let-connect{/*background-color: #f7f7f7;*/ border-radius: 10px; border: 1px solid #dfdfdf; height: 220px; }
.right-side-section .analyst-img{background:url(../image/lets-connectBgN.png); height: 65px; border-radius: 10px 10px 0px 0px; border: 1px solid #ffff; }
.right-side-section .analyst-name{position: relative; top: -25px }
.analyst-name p {line-height: 32px; }
.right-side-section .let-connect .analyst-info .analyst-name .linkedin {background-image: url(../image/socialIcons-sprite.svg); width: 22px; height: 20px; background-size: 80px; background-position: 51px; display: inline-block; left: 0; top: 0; }
.right-side-section .let-connect .btn-connect-Auth{background-color: #fff; color: #17426b; border:2px solid #17426b; padding: 14px 32px; border-radius: 50px; position: relative; top: -16px; left: 1px; }
.right-side-section .let-connect .analyst-info .analyst-name .designation{margin-top:-10px ; }
.rs-btn{background: #fe9100;padding: 6px 10px; font-weight: 600;border: solid 3px #fe9100;color:#fff;}
.rc-btn{background: #6aab65;padding: 6px 20px; font-weight: 600;border: solid 3px #6aab65;color:#fff;margin-right:10px;width: 176px;}
.rc-btn:hover, .rs-btn:hover, .rfrs-btn:hover{color:#fff;}
.rp-meta{border: solid 1px #ccc; border-radius: 5px; padding: 10px;}
.rfrs-btn{background: #fe9100;padding: 6px 10px; font-weight: 600;border: solid 3px #fe9100;color:#fff;}
/* Search Form CSS */
header .search-btn:hover{text-decoration: none; }
.overlayTwo.open.top100 {top: 57px; display: block}
.overlayTwo.open.top50 {top: 50px; }
.overlayTwo {position: absolute; transition: all 0.3s linear; width: 100%; margin: 0 auto;display: none /*left: -4px*/; right: 0; z-index: 2; transition: all 0.3s ease; top: -100%; }
.overlayTwo .TopSearch {width: 100%; padding: 20px 0 20px 0; border: 3px solid #e0e0e0; border-top: 0 none; background: #f6f6ff; }
#topSearchMenu .SearchInput {border: none; padding: 15px 60px 15px 15px; width: 100%; float: left; height: 58px; color: #1c1c1c; outline: 0; background: none; font-size: 17px; background: #ffff; }
#topSearchMenu .SearchInput:focus{outline: 0; box-shadow: none; }
#topSearchMenu .btnSearch {top: 9px; right: 8px; background: none;
}
#topSearchMenu .btnSearch:focus{outline: none; }
.suggested-searches-ul li {padding: 10px; border-bottom: 1px dotted #ddd; }
.suggested-searches-ul li a{color: #3b3b3b; }
.suggested-searches-ul li a:hover{color: #005da5; }

.TopSearch .btn-close-search{position: absolute; right: 52px; top: 15px; }
/* End Search Form CSS */


#scrollToTop.show {opacity: 1; visibility: visible; }
#scrollToTop:active {background-color: #0079ae; }
#scrollToTop:hover {cursor: pointer; background-color: #0079ae; }
#scrollToTop {display: inline-block; background-color: #aeb3be; width: 43px; height: 43px; padding: 6px; text-align: center; border-radius: 4px; position: fixed; bottom: 65px; right: 30px; transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000; vertical-align: middle; }

 #pmr-sidebar {
      position: fixed;
      left: 0;
      top: 0;
      width: 360px;
      height: 100vh;
      background: #f5f5f7;
      color: #000;
      transition: all 0.3s;
      overflow-y: auto;
      z-index: 1000;
    }

    #pmr-sidebar.hidden {
      left: -360px;
    }

    #pmr-sidebar ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #pmr-sidebar ul li a {
      display: block;
      padding: 10px 20px;
      color: #000;
      text-decoration: none;
    }

    #pmr-sidebar ul li a:hover {
      background: #fff;
    }

    .pmr-submenu {
      display: none;
      background: #ccc;
    }

    .pmr-submenu a {
      padding-left: 40px;
      font-size: 0.9rem;
    }

    #pmr-content {
      margin-left: 250px;
      padding: 20px;
      transition: margin-left 0.3s;
    }

    #pmr-content.full {
      margin-left: 0;
    }
    .pmr-toggle-btn {
        position: relative;
        font-size: 20px;
        background: #f5f5f7;
        color: #17426b;
        right: 20px;
        z-index: 1101;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: none;
        border: none;
    }

    #pmr-sidebar.hidden ~ #pmr-content .pmr-toggle-btn {
      left: 10px;
    }
 p.author-bio {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    line-height: 18px !important;
}
.author-box{border-radius: 10px;background-color: #ffffff;border: 1px solid #dfdfdf;padding:15px;}
/* -------------- Footer CSS -------------*/
.stickyWhatsapp {position: fixed; display: none; bottom: 115px; right: 30px; z-index: 3; }
.stickyWhatsapp a {height: 45px; width: 45px; background: #25D366; display: inline-block; border-radius: 100%; text-align: center; padding: 7px 12px; box-shadow: 1px 1px 3px #808080; }
.showStickyWhatsapp {display: block; animation: slide-up 1.2s; }
footer{background-color:#17426b;font-size:13px;}
footer .call-sec{border-right: 1px solid #39496b; }
footer .phone-no ,footer .Mail-sec{border-bottom:  1px solid #39496b; }
.copyrightSec {font-size: 12px; padding: 5px 0; }
.socialLink .cusIcon {height: 30px; width: 30px; display: block; }

.cusIcon {background-image: url(../image/social-footer-pmr.svg); background-repeat: no-repeat; display: block; background-size: 120px; }
/*.twitter {background-position: 0 0; }*/
.twitter {background: url(../image/twitter-x-1.svg);background-position: -10px -3px;background-repeat: no-repeat;background-size: 50px;}
.linkedin {background-position: -45px 0; }
.feeds {background-position: -90px 0 }
.list-inline>li {display: inline-block; padding-right: 5px; padding-left: 5px; }
footer a {color: #fff; }
footer a:hover, footer a:focus{color:#fff; text-decoration: none;}
.footer-bottom .footerLink li {display: inline-block; margin-right: -4px; line-height: 14px; border-left: 1px solid #acadaf; padding: 0 7px; } 
.footerLink li:first-child {border: 0; }
.copyrightBottomSec {font-size: 12px; background-color: #17426b; }
.frtitle{ font-size:18px; display:inline-block; margin-right:5px; margin-top:5px;}
.t-rts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding: 15px 0;
    border-bottom: 1px solid #39496b;
}
.t-rts a {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 0.2em;
    text-align: left;
}
.lh22 {
  line-height: 22px;
}
@media (max-width: 320px){.report-details-tabs .nav-link{font-size: 13px!important; padding: 10px 14px!important; margin-left: -11px !important; } 
.report-details-tabs .tab-content .bottom-companies .outer-border .company-head{position: absolute; top: -16px; left: 98px!important; font-size: 14px; font-weight: 500; }
}
@media (max-width: 375px){
    .report-details-tabs .nav-link{font-size: 14px; margin-left: -11px; }
    .report-details-tabs .tab-content .bottom-companies .outer-border .company-head{position: absolute; top: -16px; left: 112px; font-size: 14px; font-weight: 500; }
}
@media (max-width: 350px){
    .cookiesHeader .btnPrimary{
        margin: 0 !important;
        font-size: 12px;
    }
    .cookiesHeader .cookiesInfo span, .cookiesHeader .cookiesInfo small{
        font-size: 14px !important;
    }
}
a:focus, a:hover,.btn:focus,.btn:hover{text-decoration: none;box-shadow:none}
.w100{width: 100%;}
.font10{font-size: 10px!important;}
.font11{font-size: 11px!important;}
.font12{font-size: 12px!important;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px!important;}
.font18{font-size: 18px!important;}
.font20{font-size: 20px!important;}
.font24{font-size: 24px;}
.font27{font-size: 27px;}
.bold300{font-weight: 300;}
.bold400{font-weight: 400;}
.bold500{font-weight: 500;}
.bold700{font-weight: 700!important;}
.lineheight20{line-height: 20px!important;}
.lineheight26{line-height: 26px!important;}
.lineheight24{line-height: 24px!important;}
.lineHeight32{line-height: 32px;}
.lineheight118{line-height: 118px;}
.lineheight110{line-height: 110px;}
.text-white{color: #ffff;}
.text-black{color: #212121;}
.text-black2{color: #171717;}
.text-black3{color:#3b3b3b;}
.text-blue{color: #005da5;}
.text-blue-new{/*color:#3021c6;*/color: #17426b;}
.text-blue2{color:  #0e3ca9!important;}
.text-blue3{color:#115d99!important}
.text-grey{color:#888}
.border-red{border-color:#f53131!important}
.border-green{border-color:#5dbb2d!important}
.btn-orange{background-color: #dd390a!important;color:#fff!important;border-color:#dd390a!important}
.btn-green{background-color: #2f6f03!important;color:#fff!important;border-color: #2f6f03!important}