.mediaReleaseSec, .marketNewsSec ,.nextGenSec{position:relative;z-index:1;}
.aboutSec .headIcon{background-position:-35px -12px;margin:0;}
.nextGenSec .headIcon{background-position:-35px -202px;}
.researchSec .headIcon{background-position:-35px -298px;}
.mediaReleaseSec .headIcon{background-position:-35px -400px;}
.trustSec .headIcon {background-position: -34px -899px;}
.marketNewsSec .headIcon{background-position:-35px -592px;}
.marketNewsSec .aboutIcon {background-position: -35px -969px;}
/* .marketNewsSec .aboutIcon {background-image: url(../images/home-sprite1.png);height: 70px; width: 52px;display: block;margin: -41px -15px -41px -58px;} */
.aboutSec img{margin-left:auto;}
.aboutSec .row{display:table;}
.aboutContent{display:table-cell;vertical-align:middle;float:none;width:50%;}
.aboutContent .btn{margin-top:5px;}
.exploreSec ul li .headIcon{height: 58px;width: 75px;}
.exploreSec ul li{width:19%;vertical-align:middle;min-height:170px;}
.exploreSec ul li:first-child .headIcon{background-position: -101px 0;}
.exploreSec ul li:nth-child(2) .headIcon{background-position:-102px -160px;}
.exploreSec ul li:nth-child(3) .headIcon{background-position:-105px -234px;}
.exploreSec ul li:nth-child(4) .headIcon{background-position:-107px -308px;}
.exploreSec h3{font-size:18px;}
.exploreSec p{position: relative;z-index: 1;}
.marketNewsBox{border:1px solid #ccc;}
.txtLink{font-size:17px;margin-bottom:18px;display:block;color:#000;font-weight:500;}
.trustBox{border:1px solid #b1b1b1;margin:20px 10px;position:relative;}
.trustSecRow .trustBox{vertical-align:top;margin:20px;width:calc(47% - 14px);display:inline-block;min-height:170px;}
.trustBox .numb{background-color:#007aa8;padding: 0px 10px;border-radius:100%;color:#fff;position:absolute;width: 28px;height: 28px;top:-15px;left:-15px;font-size: 16px;}
.trustBox .compName span:before{content:"";background-color:#00aae0;width:40px;height:2px;display:inline-block;vertical-align:middle;margin-right:10px;}
.mediaReleaseSec .card:hover{box-shadow:0px 15px 20px rgba(15, 60, 91, 0.08);transition: all .3s ease;}
.mediaReleaseSec .card-body{min-height:300px;}
.mediaReleaseSec .card-body .txtLink{font-size:16px;}
.mediaReleaseSec .txtLinkBlue svg, .txtLinkBlue svg{vertical-align: middle;}
.mediaRelList .card-img img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;display:block;width:100%;}
.mediaRelList .card-img{overflow: hidden;}
.mediaRelList .card-img:hover img{-webkit-transform: scale(1.3);transform: scale(1.3);}
.reserachImg{position:relative;}
/*.imgText{position:absolute;bottom:30px;width:calc(100% - 60px);left:30px;background:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(51,122,183,1) 60%);}*/
.imgText {position: absolute;bottom: 15px;width: calc(100% - 29px);left: 15px;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(51,122,183,1) 60%);}
.boxBlue{background-color:#337ab7;}
.boxGreen{background-color:#4a5c82;}
/*.reserachImg img{min-height:460px;width:100%;}*/
.reserachImg img {min-height: 380px; width: 100%;}
/*.boxBlue, .boxGreen{min-height:215px;max-height:215px;}*/
.boxBlue, .boxGreen {min-height: 180px;max-height: 182px;}
.resDemandBox:hover{box-shadow:12px 12px 24px rgba(15, 60, 91, 0.18);}
.resDemandBox h3{font-size:16px;margin-top:0;}
.colorBox h3{font-size:16px;}
.multiClientSec h3{font-size:18px;}
.multiClientSec p{max-width:800px;margin:auto;z-index: 0;}
.multiClientSec svg, .multiClientSec .txtLinkBlue span{color:#3e57d4; text-decoration:none;}
.multiClientBox a,
.colorBox,
.colorBox:hover{color:#212529;}
.multiClientBox a:not(.titleLink){display:inline-block;line-height:12px;position:absolute;bottom:8px;}
.multiClientSec h3::before{content:"";display:inline-block;width:10px;height:0;margin-right:2px;vertical-align:baseline;border-top:6px dashed transparent;border-left:10px solid #ccc;border-bottom:6px solid transparent;margin-left:-14px;}
.multiClientSec h3::after{content:"";border:1px solid #00aae0;display:block;width:70px;margin:15px 0;}
.multiClientBox{position:relative;border-radius:10px;margin:20px 30px;background-color:#fff;transition:all .3s ease;box-shadow:5px 5px 20px rgba(15, 60, 91, 0.18);min-height:290px;padding:15px 15px 0 15px;}
.multiClientBox:hover{background-color:#00aae0;color:#fff;}
.multiClientBox:hover a, .multiClientSec .multiClientBox:hover svg,.multiClientBox:hover .txtLinkBlue span{color:#fff;text-decoration:none;}
.multiClientBox:hover h3::before{content:"";border-left:10px solid #fff;}
.multiClientBox:hover h3::after{border:1px solid #fff;}
/* .multiClientIcon{background-image:url(../images/cat-sprite.png);height:46px;width:46px;display:inline-block;background-color:#00aae0;border-radius:10px 10px 0;} */
.multiClientBox:hover .multiClientIcon{background-color:#fff;}
.multiClientIcon.cat-24{background-position:-89px 6px;}
.multiClientBox:hover .cat-24{background-position:-10px 6px;}
.multiClientIcon.cat-22{background-position:-90px -45px}
.multiClientBox:hover .cat-22{background-position:-146px -45px}
.multiClientIcon.cat-23{background-position:-90px -93px}
.multiClientBox:hover .cat-23{background-position:-149px -93px;}
.multiClientIcon.cat-38{background-position:-90px -138px}
.multiClientBox:hover .cat-38{background-position:-149px -138px}
.multiClientIcon.cat-33{background-position:-90px -181px;}
.multiClientBox:hover .cat-33{background-position:-149px -181px}
.multiClientIcon.cat-31{background-position:-90px -226px;}
.multiClientBox:hover .cat-31{background-position:-149px -226px}
.multiClientIcon.cat-39{background-position:-89px -644px;}
.multiClientBox:hover .cat-39{background-position:-149px -643px}
.multiClientIcon.cat-29{background-position: -90px -686px;}
.multiClientBox:hover .cat-29{background-position: -10px -686px}
.colorBox{height:200px;display:block;padding:36px 10px;width:100%;text-align:center;}
.colorBox h3::after{content:"";border-bottom:2px solid;width:70px;display:block;margin:8px auto;}
.colorBox-22{background-color:#79c9b3;}
.colorBox-23{background-color:#c8ad8f;}
.colorBox-24{background-color:#619cd0;}
.colorBox-29{background-color:#aeb3be;}
.colorBox-39{background-color:#f8b238;}
.colorBox-31{background-color:#79c9b3;}
.colorBox-33{background-color:#91c300;}
.nextGenRow [class*="col-"]{margin-bottom:15px;padding:0 7.5px;}
/* .nextGenIcon{background-image:url(../images/home-sprite.png);height:70px;width:70px;display:block;margin:auto;} */
.nextGenIcon.cat-22{background-position:-270px -6px;}
.nextGenIcon.cat-23{background-position:-270px -82px;}
.nextGenIcon.cat-24{background-position:-270px -154px;}
.nextGenIcon.cat-29{background-position:-270px -330px;}
.nextGenIcon.cat-31{background-position:-270px -502px;}
.nextGenIcon.cat-33{background-position:-270px -416px;}
.nextGenIcon.cat-39{background-position:-270px -236px;}
.nextGenIcon.cat-38{background-position:-273px -602px;}
@media (min-width:992px){.researchSec .resDemandBox .row{display:table;}
.researchSec .resDemandBox [class*="col-"]{display:table-cell;vertical-align:middle;float:none;}
}
@media (max-width:991px){.exploreSec ul li{width:32%;min-height:150px;}
.trustSecRow .trustBox{width:calc(46% - 14px);}
}
@media (max-width:767px){.mediaRelList{max-width:400px;margin:20px auto;}
.trustSecRow .trustBox{width:100%;max-width:100%;margin:15px auto;}
.aboutSec .row{display:block;}
.aboutContent{display:block;width:100%;text-align:center;}
.aboutContent img{display:none;}
.aboutSec .headIcon,
.aboutSec .borderGreen::after{margin:7px auto;}
.boxBlue, .boxGreen{min-height:initial;max-height:initial;}
}
@media (max-width:576px){.exploreSec ul li{width:49%;}
.reserachImg img{min-height:100%;}
}
