a:focus, a:hover{text-decoration: none;}
.aboutBox h3::after{content:"";border-bottom:2px solid #fff;display:block;width:60px;margin:8px 0;}
.aboutBox h3::before{content:"";border-left:12px solid #fb5900;border-top:7px solid transparent;border-bottom:7px solid transparent;display:inline-block;margin-left:-20px;margin-right:5px;}
.aboutBox{padding:5px 30px 5px 40px;}
.aboutImgBox img{width:auto;margin:auto;}
.greenBox{background-color:#7ac9b3;}
.brownBox{background-color:#c8ad90;}
.aboutBox .btn{padding:6px 30px;}
.aboutBox h3{font-size:22px;}
.aboutIcon{background-image:url("../images/about-sprite.png");background-repeat:no-repeat;height:40px;width:50px;display:block;}
.aboutListSec .aboutBox .aboutIcon-1{background-position:-13px -2px;}
.aboutListSec .aboutBox .aboutIcon-2{background-position:-13px -54px;height:50px;}
.aboutListSec .aboutBox .aboutIcon-3{background-position:-14px -116px;}
.aboutListSec .aboutBox .aboutIcon-4{background-position:-10px -168px;}
.aboutListSec .aboutBox .aboutIcon-5{background-position:-10px -226px;}
.threePoints{background-color:#ececec;}
.conatctBanner{background-color:#07a285;}
.loactionSec{background-image:url("../images/contact-map.png");background-repeat:no-repeat;background-size:cover;padding-top:70px;}
.loactionSec a{color:#92ce44;}
.loactionSec .secHeadingLeft{font-size:20px;}
.positionRelative{position:relative;}
.loactionSec .secHeadingLeft:after{margin:6px 0;width:90px;}
.loacBoxAdd{display:table;min-height: 220px;}
.loacBoxAdd:before{content: "";background-image:url(../icons/geo-alt-white.svg);background-repeat:no-repeat;background-position:0 6px;background-size:22px;height:33px;width:30px;display:table-cell;}
.loacBoxAdd:after{content:"";border-left:1px solid #ccc;height:130px;display:inline-block;position:absolute;top:40px;right:15px;}
.loacBoxAddLast.loacBoxAdd:after{content:none;}
.solnByClientSec .bgGreen{background-color:#75cc9e;}
.solnByClientSec .bgBlue{background-color:#69a7c6;}
.solnByClientSec .bgBlue .borderBlue::after,
.solnByClientSec .bgGreen .borderBlue::after{background: #fff;}
.solnByClientSec img{margin: auto;}
.solnByClientSec .service .bgGreen, .solnByClientSec .service .borderBlue::after{background: #000;}
.service{padding-left:80px;padding-right:20px;}
.service h3{margin-top:0;}
.service h3:before{content:"";background-image: url(../images/services-sprite.png);background-repeat:no-repeat;height:45px;width:45px;margin-left:-52px;position:absolute;}
.service-2 h3:before {background-position: 0 -48px;}
.service-3 h3:before {background-position: 0 -95px;}
.service-4 h3:before {background-position: 0 -150px;}
.service-5 h3:before {background-position: 0 -204px;}
.staticConatctSec .h2.borderBlue::after{background: #a1a1a1;width:100px;}
.btnStatic{background-color:#6aa7c6;border:2px solid #6aa7c6;color:#fff;}
.btnStatic:hover{border:2px solid #6aa7c6;color:#6aa7c6;background-color:#fff;}
.staticPageSec .secHeadingLeft{font-size:24px;}
.staticPageSec ul li{line-height:40px;}
.clientEndorsList li{border:2px solid #eee;padding:40px;border-radius:10px;position:relative;margin-bottom:40px;}
.clientEndorsList li:after, .clientEndorsList li:before{content:"";background-image:url(../images/quotes.png);background-repeat:no-repeat;position:absolute;display:block;height:28px;width:47px;}
.clientEndorsList li:before{top: -16px;left: 20px;}
.clientEndorsList li:after{bottom:-13px;right:20px;}
.engagementModeBox{margin: 40px 0;padding: 24px;}
.engagementModeBox img{margin:auto;}
.engagementModeBox:hover{box-shadow: 0px 0px 20px 10px rgba(15, 60, 91, 0.08);}
.clientEndorsementsSec .borderBlue::after{margin:14px 0;background: #a1a1a1;width:80px;}
.threeEngagtModeBox{padding:20px 30px 40px;}
.threeEngagtModeBox .bg-white:hover{box-shadow: 0px 0px 20px 10px rgba(15, 60, 91, 0.08);}
.threeEngagtModeBox .bg-white {margin-bottom: 25px;}
.careerImg{text-align:center;padding: 25px;}
.careerImg .secHeading,.believeSec .secHeadingLeft{font-size:22px;}
.careerMainBoxSec{border:1px solid #eee;padding:0;}
.careerMainBoxSec .row{padding:0 30px;}
.careerBox{border:1px solid #eee;padding:10px 15px;margin-bottom:30px;}
.careerBox .secHeadingLeft{font-size:22px;max-width:100%;}
.careerBox:hover{box-shadow: none;}
.careerBox .secHeadingLeft:after{width:80px;margin:6px 0;}
.careerOpenBtn .btn{margin:10px;}
.careerOpenBtn .btnLinkedin{background-color:#2766B2;border:2px solid #2766B2;color:#fff;}
.careerOpenBtn .btnLinkedin:hover{background-color:#2766B2;color:#fff;}
.reportList .listTitle.secHeadingLeft{font-size:20px;color:#000000;}
.reportList .listTitle.secHeadingLeft:hover{color:#23527c}
.reportList .listTitle.secHeadingLeft{text-decoration:none;}
.reportList .contentBox{padding:15px 20px;margin-top:20px;}
@media (max-width:991px){
.loactionSec .secHeadingLeft{font-size: 18px;}
.staticConatctSec .h2.borderBlue::after{margin:15px auto;}
.staticConatctSec{text-align:center;}
.engagementModeBox h2{font-size:24px;}
.threeEngagtModeBox .bg-white{min-height:100%;}
.believeRecImg img{margin:auto;}
.careerImg {margin:0 auto;padding:30px 5px;}
}
@media (max-width:767px){.aboutBox{padding:5px 15px 5px 25px;}
.aboutBox p{font-size:15px;line-height:30px;}
.clientSec{padding-top:0;}
.threePtsBox,.loacBoxAdd{margin-bottom:20px;}
.loacBoxAdd:after{content:none;}
.staticConatctSec .h2{font-size:24px;}
.staticPageSec .secHeadingLeft{font-size:21px;}
.careerMainBoxSec {border: none;padding:0 30px;}
.careerMainBoxSec .row{padding:0;}
.careerBox {min-height: 100%;}
.loacBoxAdd {min-height: 100%;}
}