body{margin:0;font-size:16px;font-weight:400;line-height:30px;color:#212529;background-color:#fff;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{line-height:30px;font-weight:500;}
section{padding:40px 0;}
.clearfix{clear:both}
.breadCrumb .list-inline li{display:inline;}
.breadCrumb{background-color:#f7f8fa;font-size:12px;}
.breadCrumb ol li:not(:first-child):before{content:"/";display:inline-block;font-size:12px;color:#4a5c82;margin:0 5px 0 -5px;}
.d-inline-block{display:inline-block!important;}
.txtBlue{color:#4b8dc2;font-size:18px;}
.bgGrey{background-color:#f5f5f5;}
.secHeading,.secHeadingLeft{font-size:26px;font-weight:400;max-width:800px;margin:0 auto 20px;line-height:30px;}
.reportDescBox .secHeading, .reportDescBox .secHeadingLeft{color:#0f3469;}
.conatctList li a:before{content:"";background:url(../icons/telephone.svg) no-repeat 50% 50%;background-color:#106382;color:#fff;padding:5px;width:15px;height:15px;display:inline-block;vertical-align:middle;background-size:15px;margin-right:5px;}
.conatctList li a,
.headerBar .dropdown-menu{font-size:13px;}
.dropdown-menu.row p{font-size:17px;}
.conatctList li:not(:first-child){margin-left:20px;}
.topHeader{background-color:#106382;}
.headerBar .navbar-default{background-color:#fff;border:none;margin-bottom:0;}
.headerBar .navbar-brand{height:70px;padding:3px 15px;}
.headerBar .caret{border-top:4px dashed #106382;}
.headerBar .dropdown-menu>li>a{padding:10px 20px;}
.headerBar .dropdown-menu{width:86%;padding:20px;font-size:15px;}
.headerBar .navbar-nav .btn{padding:8px 30px;border-radius:0;font-weight:normal;font-size:14px;}
.subHeadMenuList li{width:50%;margin-bottom:1em;float:left;transition: all .45s ease;}
.subHeadMenuList li a{text-decoration:none;color:#111;padding: 8px 0 15px;width:90%;display:block;line-height:2em;padding:0;border-bottom: 1px dotted rgba(255,255,255,.1);}
.subHeadMenuList li a:after{content:"";width:0;height:1px;transition:all .45s ease;display:block;top:100%;}
.subHeadMenuList li a:hover:after{width:90%;background: #fff;}
.headerBar .navbar .container{position:relative;}
.headerBar .navbar-nav>li{position:static;}
.headerBar .dropdown-menu{background-color:#106382;}
.headerBar .navbar-default .navbar-nav > .active > a{background-color:transparent;}
.headerBar .navbar-default .navbar-nav .subHeadMenuList li:hover{color:#000;}
.headerBar .navbar-default .navbar-nav .subHeadMenuList li:hover a{color:#00aae0;}
.headerBar .navbar-default .navbar-nav>li>a {color: #111;font-size:17px;}
.menuIconList{padding:17px 15px;}
.menuIcon{cursor:pointer;font-size:30px;}
.sidenav ul{padding-left:0;}
.sidenav{height:100%;width:0;position:fixed;z-index:1;top:0;right:0;background-color:#4b5c83;overflow-x:hidden;transition:0.5s;padding-top:60px;z-index:9;}
.sidenav a{color:#fff;text-decoration:none;display:block;transition:0.3s;font-size:14px;}
.sidenav a:hover{color:#f1f1f1;}
.sidenav .closebtn{position:absolute;top:0;left:0;font-size:36px;margin-left:0;color:#ccc;padding:8px;}
.sidenav .panel-default>.panel-heading,
.sidenav .panel{background-color:transparent;border:none;}
.sidenav .panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#668792;padding:5px 15px;}
.subMenuList a{color:#ccc;}
footer{background-color:#4a5c82;padding:0px 0 30px;font-size:13px;}
footer a{color:#fff;}
footer a:hover, footer a:focus{color:#eee}
.callInfo span{display:block;text-align:left;}
.footerTop{border-bottom:1px solid #39496b;}
.footerLink li{display:inline-block;margin-right:-4px;line-height:14px;border-left:1px solid #acadaf;padding:0 7px;}
.footerLink li:first-child{border:0;}
.copyrightSec{font-size:12px;padding:5px 0;}
.borderGreen::after,
.borderGreenCenter::after{content:"";background:#92c300;height:2px;width:60px;display:block;margin:7px 0;}
.borderGreenLeft::after{content:"";height:2px;width:70px;display:block;background:#62db87;margin:10px 0;}
.borderGreenCenter::after{content:"";width:70px;background:#62db87;margin:15px auto;}
.btn.focus, .btn:focus, .btn:hover,
.btn:active:focus{outline:none;}
.btn{padding:12px 30px;border:2px solid transparent;font-weight:600;border-radius:5px;font-size:17px;line-height:20px;box-shadow:12px 12px 24px rgba(15, 60, 91, 0.18);transition:all 0.3s ease-in-out 0s;}
.btnOutline{background-color:transparent;color:#fff;border:1px solid #fff;padding:10px 30px;font-weight:600;min-width:170px;}
.btnOutline.focus, .btnOutline:focus, .btnOutline:hover, .btnOutline:active:focus{color:#00aae0;background-color:#fff;}
.btnPrimary{background-color:#2e6b89;border:2px solid #2e6b89;color:#fff;}
.btnPrimary:hover,.btnPrimary:focus{background-color:#fff;color:#2e6b89;}
.btnGreen{background-color: #7abd49;border: 5px solid #fff;color:#fff;}
.btnGreen:hover,.btnGreen:focus{background-color:#fff;color:#7abd49;border:5px solid #7abd49;}
.subscribeForm .btnPrimary{padding:2px 10px;font-size:20px;}
.subscribeForm h4{font-size:13px;}
.cusIcon{background-image:url('../images/home-sprite.png');background-repeat:no-repeat;display:block;}
.socialLink .cusIcon{height:30px;width:30px;display:block;}
.facebook{background-position:-381px -257px;}
.linkedin{background-position:-381px -391px;}
.youtube-play{background-position:-381px -456px;}
.feeds{background-position:-381px -514px;}
.twitter{background-position:-381px -325px;}
#scrollToTop{display:inline-block;background-color:#aeb3be;width:43px;height:43px;padding:6px;text-align:center;border-radius:4px;position:fixed;bottom:30px;right:30px;transition:background-color .3s, opacity .5s, visibility .5s;opacity:0;visibility:hidden;z-index:1000;vertical-align:middle;}
#scrollToTop:hover{cursor:pointer;background-color:#91c300;}
#scrollToTop:active{background-color:#91c300;}
#scrollToTop.show{opacity:1;visibility:visible;}
#scrollToTop svg{display:inline-block;vertical-align:middle;}
#search{position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.93);-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-transform:translate(0px, -100%) scale(0, 0);-moz-transform:translate(0px, -100%) scale(0, 0);-o-transform:translate(0px, -100%) scale(0, 0);-ms-transform:translate(0px, -100%) scale(0, 0);transform:translate(0px, -100%) scale(0, 0);opacity:0;}
#search{position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.93);-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-transform:translate(0px, -100%) scale(0, 0);-moz-transform:translate(0px, -100%) scale(0, 0);-o-transform:translate(0px, -100%) scale(0, 0);-ms-transform:translate(0px, -100%) scale(0, 0);transform:translate(0px, -100%) scale(0, 0);opacity:0;}
#search.open{-webkit-transform:translate(0px, 0px) scale(1, 1);-moz-transform:translate(0px, 0px) scale(1, 1);-o-transform:translate(0px, 0px) scale(1, 1);-ms-transform:translate(0px, 0px) scale(1, 1);transform:translate(0px, 0px) scale(1, 1);opacity:1;z-index:999;}
#search input[type="search"]{padding:15px 0 15px 15px;background:#444;color:#fff;width:100%;font-size:1.5em;text-align:center;border-radius:8px;border:2px solid #999;float:left;height:auto;margin-top:15px;}
.searchList svg{font-size:20px;vertical-align:middle;}
.searchList li{padding:18px 0;}
#search .btn{position: absolute;padding: 14px;font-size:30px;border:none;margin-top: 17px;margin-left: -63px;background-color: #444444;}
#search .close{position:fixed;top:15px;right:15px;color: #c10202;opacity:1;font-size: 50px;text-shadow: none;}
.serachIcon{display:none;}
.suggestionsBox {height:70vh;overflow-y:auto;max-width:1130px;margin-left:auto;margin-right:auto;}
#suggestionsList {background:#f3f3f3;float:left;width:calc(100% - 5px);position:relative;}
.suggested-searches-ul{float:left;width:calc(100% - 30px);position:relative;margin-top:30px;z-index:110;margin-left:15px;}
.suggested-searches-ul li a:hover{background-color:#dce7eb;}
.suggested-searches-ul li a{display:block;padding:.5em .5em .5em 30px;color:#4c4848;font-size:1em;background: #fff;border-bottom:1px solid #f3f3f3;transition:all .33s ease;}
.suggested-searches-ul li a em{background: #ff0;font-weight: 600;font-size: 1.05em;font-style: normal;}
.fixedReportHeader{display:none;background:#fff;width:100%;z-index:9;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.fixedReportHeader.active{display:block;position:fixed;}
.fixedReportHeader .repName .lead{font-size:1.1em;line-height:40px;margin-bottom:0;}
.fixedReportHeader .logo img{width:60px;}
.fixedReportHeader .rightButton .btn{font-size:17px;min-width:160px;text-align:center;padding:6px 22px;margin-top:4px;}
.fixedReportHeader .rightButton{width:55%;}
.reportBanner{background-color: #546473;background: repeating-linear-gradient( 90deg, #909da9, #909da9 20px, #909da9 0, #909da9 25px, #909da9 0, #acafaf 28px, #909da9 0, #909da9 40px, #909da9 0, #909da9 60px ), repeating-linear-gradient( #909da9, #909da9 20px, #909da9 0, #909da9 25px, #909da9 0, #acafaf 28px, #909da9 0, #909da9 40px, #909da9 0, #909da9 70px );
   background-blend-mode: multiply;
   }
.reportCover{width:100%;}
.reportImg{display:inline-block;vertical-align:top;max-width:76px;}
.reportInfoList ul li{padding:2px 10px 2px 36px;font-size:12px;line-height:20px;position:relative;width:100%;margin-bottom:6px;}
.reportInfoList{padding-left: 10px;border-left: 1px solid rgba(255, 255, 255, 0.34);}
.reportInfoList li{display:inline-block;}
.reportInfoList li{background-image:url(../images/report-icon-sprite.png);background-repeat:no-repeat;height: 25px;display:inline-block;}
.reportInfoList li.repDate{background-position: 0 0;}
.reportInfoList li.repID{background-position: 0 -30px;}
.reportInfoList li.repType{background-position: 0 -63px;}
.reportInfoList li.repCatName{background-position: 0 -94px;}
.reportInfoList li.repFile{background-position: 0 -127px;}
.reportTitle{font-size:2em;}
.reportSubTitle{font-size:1.15em;color:#fff;line-height:1.5em;font-weight:400;margin-bottom:1em;}
.repDesContent{font-size:14px;}
.reportrBtns{text-align:left;}
progress{position:fixed;left:0;top:49px;width:100%;height:3px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;background-color:transparent;color:#60ac2d;z-index:10;}
progress::-webkit-progress-bar{background-color:transparent;z-index:10;}
progress::-webkit-progress-value{background-color:#60ac2d;z-index:10;}
progress::-moz-progress-bar{background-color:#60ac2d;z-index:10;}
.progress-container{width:100%;background-color:transparent;position:fixed;top:0;left:0;height:5px;display:block;z-index:10;}
.progress-bar{background-color:#60ac2d;width:0%;display:block;height:inherit;z-index:10;}
.btnAskExpert{border-color:#fff;color:#fff;background-color:#ff9800;}
.btnAskExpert:hover,.btnAskExpert:focus{color:#ff9800;background-color:#fff;border-color:#ff9800;}
.btnScheduleCall{color:#006E9E;border-color:#006E9E;}
.btnScheduleCall:hover,.btnScheduleCall:focus{color:#fff;background-color:#006E9E;}
.btnReqSample{color:#fff;background-color:#60ac2d;border-color:#fff;}
.btnReqSample:hover,.btnReqSample:focus{background-color:#fff;color:#60ac2d;border-color:#60ac2d;}
.btnBuyNow{color:#fff;background-color:#fe4f00;border-color:#fff;}
.btnBuyNow:hover,.btnBuyNow:focus{background-color:#fff;color:#fe4f00;border-color:#fe4f00;}
.reportBannerBtns .btn{min-width:180px;}
.cookiesHeader{background-color:#f6f6ff;padding: 0 5px 5px;}
.cookiesHeader a{color:green;font-size:14px;font-style:italic;}
.cookiesHeader .btnPrimary{padding:2px 20px;border-radius: 5px;}
.cookiesHeader .close:focus, .close:hover{outline:none;}
.cookiesInfo{width:94%;}
.cookiesHeader .close{border: 2px solid #ce4747;padding: 0px 5px;color:red;opacity: 0.7;margin-top: 3px;font-size: 26px;position: absolute;top: 0;right: 3px;}
.reportDescSec .reportDescBox{padding-top:3em;padding-bottom:0;}
.reportListBoxFixed{padding-top:3em;position:relative;}
.reportDesLink.fixed-box{position:fixed;margin-top:53px;top:0;padding:10px 15px 20px; max-width: 290px;}
.reportDesLink.bottom-fixed-box{position:relative;top:0;}
.reportDesLink ul{padding:0 20px 0 7px;max-height:250px;overflow-y:auto;}
.reportDesLink ::-webkit-scrollbar{width:3px}
.reportDesLink ::-webkit-scrollbar-thumb{background:#00aae0;border-radius:10px}
.reportDesLink ::-webkit-scrollbar-track{box-shadow:inset 0 0 5px #eee;border-radius:10px}
.reportDesLink p{border-bottom:1px solid #ccc;padding-bottom:7px;}
.reportLink:not(:first-child){margin:0;border-top:2px solid #eee;padding-top:15px;}
.reportLink .repLinkSapn.active{color:#71b241;font-weight:500;}
.reportLink li{margin-bottom:20px;}
.repLinkSapn{display:table;}
.reportLink .repLinkSapn.active .marketBytNum{color:#60ac2d;}
.marketBytNum{display:table-cell;}
.reportLink .txtBlue, .txtCompanies.txtBlue{font-weight:500;color:#385F99;}
.txtCompanies{font-size: 22px;}
.marketBytNum{font-size:24px;padding-right:20px;color:#979797;}
.reportLink ul li .repLinkSapn.active{color:#60ac2d;}
.reportLink a.h4, .marketBytLink a.h4{font-size:16px;font-weight:400;}
.marketBytLink{padding-left:35px;}
.reportLink a:hover{color:#60ac2d;}
.reportDesLink a{color:#030303;font-size:14px;}
.reportDesLink ul li a{font-size:14px;}
.reportDesLink a:hover{text-decoration:none;}
.reportDesLink a.viewTopc svg{vertical-align:middle;}
.reportDesLink a.viewTopc{width: 100%;border:2px solid #d9870e;background-color:#ff9800;color:#fff;font-weight:500;padding: 6px 20px;margin-top:11px;display:block;text-align:center;border-radius: 5px;font-size: 17px;}
.reportDesLink a.viewTopc:hover{background-color:transparent;color:#ff9800;text-decoration:none;}
.reportPreview svg{height:20px;width:20px;vertical-align:middle;}
.reportDesLink a.reportPreview{padding:0;width: 80%;font-size:14px;}
.reportDescSec .secHeadingLeft{font-size:24px;margin:0 0 20px;display:table;max-width:100%;}
.reportDescSec table p strong{color:#0868ad;}
.reportDescSec p strong{color:#0c75d1;}
.reportDescBox{font-size:18px;line-height:35px;}
.reportDescBox table{width:100%;border-collapse:separate;margin:20px 0;background-color:#edfcff;}
.reportDescBox table td{padding:4px 10px;vertical-align:top;border:0.5px solid #ccc;}
.reportDescBox table td ul{text-align:left;}
.methlogyBox{margin:20px auto;float:none;}
html{scroll-behavior:smooth;}
.repLinkSapn{cursor:pointer;}
.reportDescSec{padding:40px 100px;}
.reportDescBox section{padding:0;}
.accordFAQBox .panel-default svg{float:right;margin-top:6px;}
.accordFAQBox .panel-heading a:not(.collapsed) svg{transform: rotate(180deg);}
@media (min-width:767px){.navbar-nav>li>a{line-height:30px;padding-top:20px;padding-bottom:20px;}
.footerTop li{display:table-cell;vertical-align:middle;border-left:1px solid #39496b;padding:20px;}
.footerTop ul{border-right:1px solid #39496b;display:table;width:100%;}
}
@media (min-width:992px){.headerBar .dropdown-submenu{position:relative;}
.headerBar .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.headerBar .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.headerBar .dropdown-submenu:hover>a:after{border-left-color:#00aae0;}
.headerBar .dropdown-submenu.pull-left{float:none;}
.headerBar .dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.footerTop li:not(:last-child),.footerTop li:not(:first-child){width:25.5%;}
.footerTop li:first-child{width:14%}
.footerTop li:last-child{width:35%;}
.paymentOpt{float:right;}
}
@media (max-width:1024px){
	#search input[type="search"]{width:96%;}
}
@media (max-width:991px){.nav>li>a{padding:20px 7px;}
.headerBar .navbar-default .navbar-nav>li>a {font-size: 15px;}
.footHead{font-size:14px;}
.copyrightSec, .copyrightSec p{text-align:center;}
.subscribeForm .form-control{display:inline-block;width:70%;vertical-align:bottom;}
.footerTop li:not(:last-child), .footerTop li:not(:first-child){width:23.5%;}
.footerTop li:first-child{width:14%}
.footerTop li:last-child{width:39%;}
.paymentOpt img{margin:0 auto;}
#search input[type="search"]{padding:10px 0 10px 10px;font-size:1.2em;}
#search .btn{padding:11px;}
#search .close{right:8px;padding: 0px 8px 6px;}
}
@media (max-width:767px){.footerTop li:not(:last-child){vertical-align:middle;padding:15px;}
.footerTop li svg.bi-telephone{font-size:10px;}
.footerTop li:not(:last-child),.footerTop li:not(:first-child){width:39%;border-left:1px solid #39496b;}
.footerTop li:first-child{width:20%;border-left:0;}
.footerTop li:last-child{width:100%;border-left:0;border-top:1px solid #39496b;}
.subscribeForm .navbar-form{border:0;box-shadow:none;text-align:center;}
.footerTop{padding:0 15px;}
.headerBar .navbar-default .navbar-toggle{border:none;}
.secHeading{font-size:22px;}
.topHeader{display:none;}
#search .form-inline{margin-top:30px;}
#search .close{top:0px;right:2px;background-color:transparent;}
.serachIcon{color:#00aae0;float:right;font-size:24px;padding:10px;margin-top:8px;margin-right:15px;margin-bottom:8px;}
.serachIcon{display:inline-block;}
}
@media (max-width:576px){.copyrightSec{font-size:12px;}
.subscribeForm p{font-size:12px;}
footer{padding:0px 0;}
.conatctList li a{font-size:11px;}
.subscribeForm .form-control, .subscribeForm .btn{height:34px;}
.subscribeForm h4{font-size:12px;}
.footerTop li:not(:last-child){padding:10px 5px;}
.footerTop li:not(:last-child), .footerTop li:not(:first-child){width:49%;font-size:12px;}
.footerTop li:not(:nth-child(3)){border-left:0;}
.footerTop li:last-child,.footerTop li:first-child{width:100%;}
#search .btn{padding:15px;font-size:22px;}
}
@media (max-width:380px){.footerTop li svg.bi-telephone{font-size:8px;}
.callInfo span{display:block!important;text-align:center;}
#search input[type="search"]{width:80%;}
}

@media (max-width: 1199px){
}
@media (max-width: 991px){
    .eventDetailsParaReports{margin:10px 0;}
    .eventDetailsParaReports{margin:15px 0 15px 0;}
}
@media (max-width: 767px){

}
@media (max-width:576px){
    .eventDetailsParaReports{display: inline-block; margin: 5px 0 5px 0;}
    .eventDetailsBannerReports{background-color: #022267; background-image: none;}
    .reg-now-btnReports{display: inline-block;} 
    .logoBoxReports{padding: 0; display: table; margin: 0 auto;}
    .btn-last-mid{text-align: center;}
    .eventDetailsParaReportsrh{margin-top:3px;}    
}

